body{
    background: linear-gradient(180deg, #f95911 50%, #e5e5e5 50%);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    margin: 0 auto;
    text-align: center;
}
.picture{
    margin: 0 auto;
    margin-top: 15px;
    height: 240px;
    width: 320px;
    border-radius: 50px;
}
.card{
    border: 10px solid white;
    width: 340px;
    height: 400px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main__allCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin:0 auto;
    margin-top: 120px;
}
.main__footer{
    background-color: #333333;
    margin: 0;
    padding: 20px;
    position:absolute; 
    right:0px;
    bottom:0px;
    left:0px;
    color: white;
    text-align: center;
}