body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}


.choseInput__generator{
    width: 70px;
    height: 40px;
    margin-right: 20px;
    

}
.elements__generator{
    width: 270px;
    height: 550px;
    left: 0px;
    top: 0px;
    padding:0;
}

.select__generator{
    box-sizing: border-box;
    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    /* shadow/sm */
    border-radius: 6px;
    width: 190px;
    height: 40px;
    padding:10px;
    margin-right: 20px;
}

.fiveColors__generator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.options__generator{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    font-weight: bold;
    font-size: 20px;
}
    
button{
    border-radius: 6px;
    padding: 9px 18px;
    font-weight: bold;
    border: none;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.choseInput__generator,.select__generator, .elements__generator:hover{
    cursor: pointer;
}

header{
    margin: 0;
    padding: 4px;
    background-color: #FEF5D2;
}

h1{
    font-size: 40px;
    color:#B3B3B3
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.select__colors{
    border: none;
    width: 100%;
    text-align-last: center;
}

.hidden{
    display: none;
}
